@use "@/styles/variables.scss" as vars;

.weather-map {
    border-radius: vars.$border-radius;
    width: 100%;
}

.link {
    a {
        display: none;
    }
}

// Mobile-Specific Styles
@media (max-width: 768px) {
    .weather-map {
        height: 100vh;
    }
}

// Larger Screens
@media (min-width: 769px) {
    .weather-map {
        height: 100%;
    }
}