@use "@/styles/variables.scss" as vars;

// Quick Forecast Mixin
@mixin quickForecast {

    .forecast-move, 
    .forecast-enter-active,
    .forecast-leave-active {
    transition: all 0.5s ease;
    }

    .forecast-enter-from,
    .forecast-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

    .forecast-leave-active {
    position: absolute;
    width: 100%;
    }

    .quick-forecast {
        width: 100%;
        background-color: vars.$panel-color;
        box-shadow: vars.$box-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.2s ease-in-out;

        .search-bar-section {
            z-index: 2;
            transition: 0.2s ease-in-out;
            box-sizing: border-box;
            padding: 1%;
        }

        hr {
            object-position: center;
            z-index: 1;
            transition: 0.2s ease-in-out;
        }

        .quick-forecast-text {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 2%;
    
            h2 {
                font-family: vars.$primary-font;
                text-shadow: vars.$text-shadow;
                color: vars.$font-color;
                transition: 0.2s ease-in-out;
            }
    
            .current-time {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-family: vars.$primary-font;
                font-weight: bold;
                color: vars.$font-color;
                transition: 0.2s ease-in-out;
                text-shadow: vars.$text-shadow;
    
                img {
                    object-fit: contain;
                    height: 30%;
                }
            }
    
            .quick-forecast-caption {
                position: relative;
                font-family: vars.$primary-font;
                font-weight: 500;
                color: vars.$font-color;
                padding: 0 2% 0 2%;
                text-align: center;
            }
        }

        .weather-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
        }

        .about-forelast {
            box-sizing: border-box;
            padding: 2%;
            font-family: vars.$primary-font;
            color: vars.$font-color;
            text-align: justify;
            
            .what-is-forelast {
                width: 50%;
            }
            
            .features {
                h3 {
                    height: 0;
                }
            }
        }
    }
    // Mobile-Specific Styles
    @media (max-width: 768px) {
        .forecast-move, 
            .forecast-enter-active,
            .forecast-leave-active {
            transition: all 0.5s ease;
        }

        .forecast-enter-from,
        .forecast-leave-to {
        opacity: 0;
        transform: translateY(30px);
        }

        .forecast-leave-active {
        position: absolute;
        width: 100%;
        }

        .quick-forecast {
            height: auto;
            
            .search-bar-section {
                width: 100%;
                height: 2rem;
            }

            hr {
                width: 90%;
            }

            .quick-forecast-text {
                .quick-forecast-caption {
                    font-size: vars.$mobile-fsize;
                }

                h2 {
                    font-size: vars.$mobile-fsize;
                }
    
                .current-time {
                    font-size: vars.$mobile-fsize;
                    gap: 2%;
                    
                    img {
                        height: 30%;
                    }
                }
            }

            .weather-cards {
                width: 100%;
            }

            .about-forelast {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2%;
                box-sizing: border-box;
                padding: 2%;
                
                .what-is-forelast {
                    width: 100%;
                    font-size: vars.$mobile-smalltext;

                    h3 { 
                        text-align: center;
                    }
                }

                .features {
                    width: 100%;
                    font-size: vars.$mobile-smalltext;

                    h3 { 
                        text-align: center;
                    }

                    .list {
                        display: flex;
                        flex-direction: column;

                        figure {
                            height: 5rem;
                            display: flex;
                            flex-direction: column;
                            
                            img {
                                height: 100%;
                                object-fit: contain;
                            }
    
                            figcaption {
                                text-align: center;
                            }
                        }
                    }
                }
            }
            
        }
    }

    // Larger Screens 
    @media (min-width: 769px) {

        .forecast-move, // For smooth movement when items are removed
        .forecast-enter-active,
        .forecast-leave-active {
        transition: all 0.5s ease;
        }

        .forecast-enter-from,
        .forecast-leave-to {
        opacity: 0;
        transform: translateY(30px);
        }

        .forecast-leave-active {
        position: absolute;
        width: 100%;
        }

        .quick-forecast {
            height: 100%;

            .search-bar-section {
                width: 100%;
                height: 0;
            }
            
            .quick-forecast-text {
                line-height: 0.5;
                margin-top: 2%;
                
                h2 {
                    font-size: 150%;
                    height: 0;
                }
    
                .current-time {
                    font-size: 100%;
                    gap: 1%;
                    
                    img {
                        height: 40%;
                    }
                }
            }

            .weather-cards {
                width: 100%;
                height: 20%;
            }
            
            .about-forelast {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 2%;

                .features {
                    width: 50%;

                    .list {
                        display: flex;
                        flex-direction: row;
                        
                        figure {
                            height: 5rem;
                            display: flex;
                            flex-direction: column;
                            
                            img {
                                height: 100%;
                                object-fit: contain;
                            }
    
                            figcaption {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}