Django==5.2
djangorestframework==3.16.0
django-cors-headers==4.7.0
psycopg2==2.9.10
python-dotenv==1.1.0
supabase==2.15.0
requests==2.32.3
httpx==0.28.1
python-json-logger==3.3.0
pandas==2.2.3
numpy==2.1.3
gunicorn==21.2.0
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
